[Unit]
Description=Discord Google Workspace Auth
Requires=docker.service
After=docker.service

[Service]
WorkingDirectory=/opt/DGWA
ExecStart=docker compose up -d
ExecStop=docker compose down
User=dockeruser
Group=dockeruser
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
